<script>
    function loadDoc1() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("ajaxreturn").innerHTML =
                    this.responseText;
            }
        };
        xhttp.open("GET", "http://localhost:3000/blogs?id=name", true);
        xhttp.send();
    }
</script>

<body onload="loadDoc()">
    <div id="ajaxreturn">
    </div>
</body>