<script>


  function loadDoc() {
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        if (this.responseText != "wrong cridential") {
          document.getElementById("main").innerHTML =
            this.responseText;
        } else {
          document.getElementById("ajaxreturn").innerHTML =
            this.responseText;
        }
      }
    };
    xhttp.open("GET", "http://localhost:3000/signupacc?email=" + email + "&password=" + password, true);
    xhttp.send();
  }
</script>







<html>

<head>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: gray;
    }

    header {
      background-color: teal;
      height: 50px;
    }

    .ll {
      text-decoration: none;
      color: aliceblue;
      float: right;
      padding: 1%;
      padding-left: 0;
      margin-right: 1%
    }

    header h3 {
      padding: 0;
      margin: 0;
      display: inline-flex;
      font-style: normal;
      font-family: inherit;
      color: white;
      padding-top: 0.6%;
      margin-left: 1%;
    }

    .return {
      margin: 2%;
      background-color: teal;
      border: 1px solid white;
      border-radius: 8px;
      padding: 1%;
      width: inherit;

    }

    textarea {
      width: 100%;
    }

    .content {
      width: 100%;
      /* background-color: white; */
    }

    .title {
      background-color: teal;
      margin: 0;
      padding: 0;
      color: white;
      text-align: center;
    }
  </style>

</head>

<body>
  <div id="main">
    <header>
      <a href="/">
        <h3>sample blog with MVC</h3>
      </a>
      <a class="ll" href="signup">signup</a>
      <a class="ll" href="login">login</a>
    </header>























    <body>
      <div class="login">
        <div class="row">
          <div class="col-md-3 col-lg-4 col-sm-2"></div>
          <div class="col-md-6 col-lg-4 col-sm-8">
            <div class="login">
              <h2 class="ui header">
                <div class="ui segment" style="color:#fff; font-size:20px; background-color:#4a5d6c;">
                  Sign-up
                </div>
                <div id="ajaxreturn" style="color:red;"></div>
              </h2>

              <h4 *ngIf="error !== ''" style="color:red;"></h4>
              <div class="ui stacked secondary  segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" #email required="required" id="email" placeholder="E-mail address">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" #password required="required" id="password" placeholder="Password">
                  </div>
                </div>
                <button onclick="loadDoc()">signup</button>
              </div>


              
            </div>

          </div>
          <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
      </div>
  </div>
  </body>